<% include partials/header %>

<div class="ui main container">
  <div class="ui huge header">
    <h1>Home Page</h1>
  </div>
</div>

<div class="ui container">
    <% blogs.forEach(function(blog){ %>
      <div class="ui segment">
        <div class="ui header">
          <a class="header" href="/surf/<%= blog.id %>"><%= blog.title %></a>
          <div class="meta">
            <span><%= blog.created.toDateString() %></span>
          </div>
        </div>
        <div class="image">
          <img src="<%= blog.image %>">
        </div>
        <div class="description">
          <p><%= blog.body %></p>
        </div>
      </div>
    <% }); %>
</div>

<% include partials/footer %>
