<% include partials/header %>

<div class="ui main container">
    <div class="ui header">
      <a class="ui huge header" href="/surf/<%= blog.id %>"><%= blog.title %></a>
      <div class="meta">
            <span><%= blog.created.toDateString() %></span>
      </div>
    </div>
    <div class="image">
      <img src="<%= blog.image %>">
    </div>
    <div class="description"
      <p><%= blog.body %></p>
    </div>
    <a href="/surf/<%= blog.id %>/edit" class="ui button" type="button">Edit</a>
</div>

<% include partials/footer %>
